FLASK_DEBUG=true
PAGERDUTY_ROUTING_KEY=your_pagerduty_routing_key_here
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_here
DATABASE_NAME=hackathon_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
